.textAndInputWrapper
    line-height: inherit

.voteForm
    position: relative
    font-weight: 100

    input, textarea
        font-family: "Quicksand", sans-serif
        background-color: transparent
        outline: none
        border: none
        font-size: 2em

    input[name="startText"], input[name="textJoin"] 
        cursor: pointer
        text-decoration: underline
        width: 150px
        caret-color: transparent
        padding-top: 0

    textarea[name="voteText"]
        width: 100%
        font-weight: bold
        resize: none